*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p#answer{
    text-align: center;
    color: black;
    font-size: 60px;
    overflow: auto;
    
}
.area{
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 260px;
    padding: 15px;
    border-radius: 30px;
}
input{
    color: black;
    background-color: transparent;
    width:80%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 10px;
    font-size: larger;
    text-align: center;
    outline:none;

}
h2{
    color: rgb(32, 32, 69);
    border: none;
}
#answer{
    color: rgb(45, 4, 4);
    background-color: transparent;
    padding: 10px;
    font-size: larger;
    text-align: center;

}

input::placeholder{
    color: rgb(2, 2, 2);
    font-size: 25px;
    

}
button{
    text-align: center;
    background-color: rgb(32, 32, 69);
    
    cursor: pointer;
    color: whitesmoke;
    padding: 10px;
    border-radius: 15px;  
}
button:hover{
    color: whitesmoke;
    background-color: rgb(14, 107, 212);
    border: none;
}